@{
    List<WebApplication17.Models.HangSP> ds = Session["dshang"] as List<WebApplication17.Models.HangSP>;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TTGShop | PC Cao Cấp | PC Đẹp hiệu năng cao </title>
    <meta name="keywords" content="TTGShop">
    <meta name="description" content="TTGShop">
   
    <link rel="stylesheet" href="~/Content/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/assets/css/plugins/owl-carousel/owl.carousel.css">
    
    <link rel="stylesheet" href="~/Content/assets/css/style.css">
    <link rel="stylesheet" href="~/Content/assets/css/skins/skin-demo-24.css">
    <link rel="stylesheet" href="~/Content/assets/css/demos/demo-13.css">

    <script src="~/Scripts/jquery-3.7.0.min.js"></script>

    <link href="~/Content/toastr.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/custom.css">


</head>

<body>
    <div class="page-wrapper">
        <header class="header header-10 header-intro-clearance">
            <div class="header-top" style="height: 35px; line-height: 30px;background-color:black">
                <div class="container">
                    <div class="header-left">
                        <a style="color:white"><i class="icon-phone"></i>Hotline: 0123 456 789 - 0384 384 378 * Tư vấn build PC: 0384387478 * Địa chỉ: CS1: 83-85 Thái Hà - Đống Đa - Hà Nội</a>
                    </div>

                    <div class="header-right">
                        <ul class="top-menu">
                            <li>
                                <ul>
                                    <li>
                                        @if (Session["ma"] == null)
                                        {
                                            <div class="login">
                                                <a href="~/Login">Đăng Nhập / Đăng Ký</a>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="header-dropdown">
                                                <a href="#">Xin Chào: @Session["hoten"]</a>
                                                <div class="header-menu">
                                                    <ul>
                                                        <li><a href="~/KhachHangs/UserInfor">Thông Tin Tài Khoản</a></li>
                                                        <li><a href="~/DonHangs">Đơn Mua</a></li>
                                                        <li><a href="~/Login/SignOut">Đăng Xuất</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        }
                                    </li>

                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="header-middle" style="background-color: #E3E3E3 ">
                <div class="container">
                    <div class="header-left">
                        <a href="~/Home" class="logo">
                            <img src="~/wwwroot/images/ttg.png" alt="TTGShop">
                        </a>
                    </div>

                    <div class="header-center">
                        <div class="header-search header-search-extended header-search-visible header-search-no-radius ">
                            <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
                            <form action="/SanPhams/Index" method="post">
                                <div class="header-search-wrapper search-wrapper-wide">

                                    <label for="timkiem" class="sr-only">Search</label>
                                    <input type="search" class="form-control" name="timkiem" id="q" placeholder="Tìm kiếm sản phẩm..." value="@ViewBag.searchString" required>
                                    <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="header-right">
                        <div class="header-dropdown-link">
                            <div class="dropdown cart-dropdown">
                                @if (Session["ma"] == null)
                                {
                                    <a href="~/Login/Index" class="dropdown-toggle" style="font-size:40px">
                                        <i class="icon-shopping-cart"></i>
                                        <span class="cart-count">0</span>
                                        <span class="cart-txt">Giỏ hàng</span>
                                    </a>
                                }
                                else
                                {
                                    <a href="~/GioHangs/Index" class="dropdown-toggle">
                                        <i class="icon-shopping-cart"></i>
                                        <span class="cart-count">@Session["giohang"]</span>
                                        <span class="cart-txt">Giỏ hàng</span>
                                    </a>
                                }
                                <button class="mobile-menu-toggler">
                                    <span class="sr-only">Toggle mobile menu</span>
                                    <i class="icon-bars"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="header-bottom sticky-header" style="background-color:white">
                <div class="container">
                    @{
                        var isHome = (ViewContext.RouteData.Values["controller"].ToString() == "Home" &&
                                      ViewContext.RouteData.Values["action"].ToString() == "Index");
                    }

                    <div class="header-left">
                        <div class="dropdown category-dropdown is-on @(isHome ? "show" : "")">
                            <a href="#" class="dropdown-toggle" title="Browse Categories" style="color:black">
                                DANH MỤC SẢN PHẨM
                            </a>
                            <div class="dropdown-menu @(isHome ? "show" : "")">
                                <nav class="side-nav">
                                    <ul class="menu-vertical sf-arrows">
                                        @{
                                            var topItems = ds.Take(7).ToList();
                                            var hiddenItems = ds.Skip(7).ToList();
                                        }
                                        @foreach (var item in topItems)
                                        {
                                            <li>
                                                <a href="@Url.Action("Index", "SanPhams", new { category = item.mahang })">
                                                    @item.tenhang
                                                </a>
                                            </li>
                                        }
                                        @foreach (var item in hiddenItems)
                                        {
                                            <li class="more-item" style="display:none;">
                                                <a href="@Url.Action("Index", "SanPhams", new { category = item.mahang })">
                                                    @item.tenhang
                                                </a>
                                            </li>
                                        }
                                        @if (hiddenItems.Any())
                                        {
                                            <li>
                                                <a href="javascript:void(0);" id="btnShowMore" style="color:orange; font-weight:bold;">
                                                    Xem thêm
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>

                    <div class="header-center">
                        <nav class="main-nav">
                            <ul class="menu sf-arrows">
                                <li>
                                    <a style="color:black" href="~/Home">TRANG CHỦ</a>
                                </li>
                                <li id="navbar">
                                    <a style="color:black" href="~/SanPhams">SẢN PHẨM</a>
                                </li>
                                <li id="navbar">
                                    <a style="color:black" href="~/Home/TinTuc">TIN TỨC</a>
                                </li>
                                <li id="navbar">
                                    <a style="color:black" href="~/Home/LienHe">LIêN HỆ</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>

        @RenderBody()

        <footer class="footer footer-2">
            <div class="icon-boxes-container">
                <div class="container">
                </div>
            </div>

            <div class="footer-middle border-0">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-lg-6">
                            <div class="widget widget-about">
                                <img src="~/wwwroot/images/ttg.png" class="footer-logo" alt="Footer Logo" width="105" height="25">
                                <p>
                                    Trang thương mại chính thức của Dũng CT - Trực Tiếp Game.<br /> Luôn tìm kiếm những sản phẩm vì game thủ.
                                </p>

                                <div class="widget-about-info">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-4">
                                            <span class="widget-about-title">Moị thắc mắc xin liên hệ </span>
                                            <a href="tel:123456789">+0123 456 789</a>
                                        </div>
                                        <div class="col-sm-6 col-md-8">
                                            <span class="widget-about-title">Phương Thức Thanh Toán</span>
                                            <figure class="footer-payments">
                                                <img src="~/Content/assets/images/payments.png" alt="Payment methods" width="272" height="20">
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4 col-lg-2">
                            <div class="widget">
                                <h4 class="widget-title">Thông tin liên hệ</h4>

                                <ul class="widget-list">
                                    <li>
                                        <a>
                                            CS1: 83 - 85 Thái Hà - Đống Đa - HN<br />
                                            CS2: 83A Cửu Long -Phường 15 - Q10 - TP.HCM
                                        </a>
                                    </li>
                                    <li><a>ttgshoponline@gmail.com</a></li>

                                </ul>
                            </div>
                        </div>

                        <div class="col-sm-4 col-lg-2">
                            <div class="widget">
                                <h4 class="widget-title">DỊCH VỤ KHÁCH HÀNG</h4>
                                <ul class="widget-list">
                                    <li><a href="@Url.Action("PhuongThucThanhToan", "Home")">Phương thức thanh toán</a></li>
                                    <li><a href="@Url.Action("ChinhSachDoiTra", "Home")">Chính sách đổi trả</a></li>
                                    <li><a href="@Url.Action("VanChuyen", "Home")">Vận chuyển</a></li>
                                    <li><a href="@Url.Action("DieuKhoan", "Home")">Các điều khoản và điều kiện</a></li>
                                    <li><a href="@Url.Action("BaoMat", "Home")">Chính sách bảo mật </a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-sm-4 col-lg-2">
                            <div class="widget">
                                <h4 class="widget-title">TÀI KHOẢN CỦA TÔI</h4>

                                <ul class="widget-list">
                                    @if (Session["ma"] == null)
                                    {
                                        <li><a href="~/Login">Đăng Nhập</a></li>
                                    }
                                    else
                                    {
                                        <li><a href="~/Login/SignOut">Đăng Xuất</a></li>
                                    }
                                    @if (Session["ma"] == null)
                                    {
                                        <li><a href="~/Login"></a></li>
                                    }
                                    else
                                    {
                                        <li><a href="@Url.Action("Index", "GioHangs")">Giỏ Hàng</a></li>
                                    }
                                    @if (Session["ma"] == null)
                                    {
                                        <li><a href="~/Login"></a></li>
                                    }
                                    else
                                    {
                                        <li><a href="@Url.Action("Index", "DonHangs")">Theo Dõi Đơn Hàng</a></li>
                                    }
                                    
                                    <li><a>Giúp Đỡ</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer-bottom">
                <div class="container">
                    <div class="social-icons social-icons-color">
                        <span class="social-label">Social Media</span>
                        <a href="#" class="social-icon social-facebook" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>
                        <a href="#" class="social-icon social-twitter" title="Twitter" target="_blank"><i class="icon-twitter"></i></a>
                        <a href="#" class="social-icon social-instagram" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
                        <a href="#" class="social-icon social-youtube" title="Youtube" target="_blank"><i class="icon-youtube"></i></a>
                        <a href="#" class="social-icon social-pinterest" title="Pinterest" target="_blank"><i class="icon-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </footer>

    </div>
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>
    <script>
$(document).ready(function () {
    var controller = '@ViewContext.RouteData.Values["controller"]'.toLowerCase();
    var action = '@ViewContext.RouteData.Values["action"]'.toLowerCase();

    if (controller === "home" && action === "index") {
        // Khi load trang -> mở sẵn
        $('.category-dropdown').addClass('show');
        $('.category-dropdown .dropdown-menu').addClass('show');

        // Cho phép toggle lại bằng click
        $('.category-dropdown > a').on('click', function (e) {
            e.preventDefault();
            $('.category-dropdown').toggleClass('show');
            $('.category-dropdown .dropdown-menu').toggleClass('show');
        });
        $("#btnShowMore").click(function () {
            $(".more-item").slideToggle(); // hiện/ẩn
            $(this).text($(this).text() === "Xem thêm" ? "Thu gọn" : "Xem thêm");
        });

        // Theo dõi cuộn trang
        $(window).on('scroll', function () {
            if ($(this).scrollTop() > 50) {
                // Nếu cuộn xuống -> đóng menu
                $('.category-dropdown').removeClass('show');
                $('.category-dropdown .dropdown-menu').removeClass('show');
            } else {
                // Nếu quay lại top -> mở menu
                $('.category-dropdown').addClass('show');
                $('.category-dropdown .dropdown-menu').addClass('show');
            }
        });
    }
});


    </script>


    <!-- Các plugin khác -->
    <script src="~/Content/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/assets/js/owl.carousel.min.js"></script>
    <script src="~/Content/assets/js/bootstrap-input-spinner.js"></script>
    <script src="~/Content/assets/js/jquery.plugin.min.js"> </script>
    
    <script src="~/Content/assets/js/jquery.waypoints.min.js"></script>
    <script src="~/Content/assets/js/jquery.countdown.min.js"></script>
    <script src="~/Content/assets/js/jquery.magnific-popup.min.js"></script>
    <!-- Main JS -->
    <script src="~/Content/assets/js/main.js"></script>
    <script src="~/Content/assets/js/demos/demo-13.js"></script>
    <script src="~/Scripts/toastr.js"></script>



    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div>

    <div class="mobile-menu-container">
        <div class="mobile-menu-wrapper">
            <span class="mobile-menu-close"><i class="icon-close"></i></span>

            <nav class="mobile-nav">
                <ul class="mobile-menu">
                    <li><a href="~/Home">TRANG CHỦ</a></li>
                    <li><a href="~/SanPhams">SẢN PHẨM</a></li>
                    <li><a href="~/Home/TinTuc">TIN TỨC</a></li>
                    <li><a href="~/Home/LienHe">LIÊN HỆ</a></li>
                    <li class="dropdown">
                        <a href="#">DANH MỤC SẢN PHẨM</a>
                        <ul>
                            @foreach (var item in ds)
                            {
                                <li>
                                    <a href="@Url.Action("Index", "SanPhams", new { category = item.mahang })">
                                        @item.tenhang
                                    </a>
                                </li>
                            }
                        </ul>
                    </li>
                    <li>
                        @if (Session["ma"] == null)
                        {
                            <a href="~/Login">Đăng Nhập / Đăng Ký</a>
                        }
                        else
                        {
                            <a href="~/KhachHangs/UserInfor">Xin Chào: @Session["hoten"]</a>
                            <ul>
                                <li><a href="~/DonHangs">Đơn Mua</a></li>
                                <li><a href="~/Login/SignOut">Đăng Xuất</a></li>
                            </ul>
                        }
                    </li>
                </ul>
            </nav>
        </div>
    </div>

</body>
</html>
